// color variables;
$navbar-dark-bg: #750075; // dark purple
$dark-purple: #750075; // dark purple
$title-header-font-color: #800080; // purple

// font variables;
$font-family: "Graphik", "Times New Roman", Times, serif;
