<main class="flex-shrink-0 py-4 container">
  <div class="container-fluid portfolio-content mt-3">
    <h1 class="text-center title-header">
      <span
        [ngClass]="{
          'bg-dark': theme() === 'dark',
          'bg-light': theme() === 'light'
        }"
      >
      </span
      >My Portfolio
    </h1>
    <p class="text-center">
      Welcome to my portfolio! Here you can find a collection of my projects and
      work samples. I hope you enjoy browsing through them. If you have any
      questions or would like to get in touch, feel free to reach out to me
      through the contact page.
    </p>
    <div class="container">
      <div class="row">
        <div class="card">
          <div class="card-body">
            I am Techno-functional Manager with 15+ years of experience in Front
            End Development. Proven ability to lead cross-functional teams
            delivering high-impact projects using Micro Frontends, Azure CI/CD,
            and Agile methodologies. Expert in Angular development, UI
            architecture, and Agile methodologies.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row mt-3">
      <h1 class="text-center title-header">
        <span
          [ngClass]="{
            'bg-dark': theme() === 'dark',
            'bg-light': theme() === 'light'
          }"
        >
        </span
        >My Carousel Gallery
      </h1>
      <p class="text-center">
        This is a sample portfolio page created using Angular. It includes a
        carousel component to showcase projects The page is styled with
        Bootstrap for a clean and modern look.
      </p>
      <app-carousel></app-carousel>
    </div>
  </div>

  <div class="container">
    <div class="row mt-3">
      <p class="text-center">
        Many more content to come! Keep Watching this space!
      </p>
    </div>
  </div>
</main>
