.chat-toggle-button {
  position: fixed;
  bottom: 50px;
  right: 50px;
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

// button.chat-toggle-button {
//   margin: 0 0 35px;
//   padding: 10px;
// }

.chat-icon {
  margin-right: 8px;
  font-size: 20px;
}

@media (max-width: 768px) {
  .chat-text {
    display: none;
  }

  .chat-toggle-button {
    padding: 10px;
    border-radius: 50%;
  }

  .chat-icon {
    margin-right: 0;
  }
}

.bpw-layout {
  height: calc(85% - 50px) !important;
  bottom: 50px !important;
}
