<button
  (click)="toggleChatNew()"
  class="chat-section"
  style="
    position: fixed;
    bottom: 50px;
    right: 20px;
    background-color: #750075;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  "
>
  Chat
</button>

<iframe
  *ngIf="isChatVisible"
  [src]="iframeUrl"
  width="350"
  height="425"
  style="
    position: fixed;
    bottom: 90px;
    right: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 9999;
  "
>
</iframe>
