<header>
  <nav class="navbar navbar-expand-md shadow navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="home">
        <img
          src="../../../assets/images/SK-Icon-Design.png"
          class="brandImage ms-5"
          width="35"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              routerLink="home"
              routerLinkActive="active"
              >My Home</a
            >
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="translate" routerLinkActive="active"
              >Translation</a
            >
          </li> -->
          <li class="nav-item">
            <a class="nav-link" routerLink="home" routerLinkActive="active"
              >Contact Me</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Restricted</a>
          </li>
        </ul>
      </div>
      <button
        class="btn btn-outline-light ms-auto d-flex align-items-center gap-2 me-md-5"
        (click)="toggleTheme()"
      >
        <i
          [ngClass]="{
            'bi-sun': theme() === 'light',
            'bi-moon': theme() === 'dark'
          }"
          class="bi"
          style="transition: transform 0.3s ease"
        ></i>
        <span> {{ theme() === "light" ? "Dark" : "Light" }} </span>
      </button>
    </div>
  </nav>
</header>
<div class="hero-section"></div>
<div class="container breadcrumb-content mt-3">
  <app-breadcrumb></app-breadcrumb>
</div>
