/* You can add global styles to this file, and also import other style files */
@import "../src/app/styles/variables.scss";
@import "../src/app/styles/theme.scss";

/* === Base Reset === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// html {
//   overflow-x: hidden;
// }

html,
body {
  height: 100%;
}
body {
  font-family: $font-family !important;
  margin: 56px auto !important;
}
.navbar-dark.bg-dark {
  background: $navbar-dark-bg !important;
}

.title-header {
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 1px;
  color: $title-header-font-color !important;
}
footer.footer.bg-dark,
footer.footer.bg-light {
  background: $navbar-dark-bg !important;
  font-weight: 500;
  font-size: 12px;
}

// Owl Carousel Customization
.owl-prev,
.owl-next {
  width: 125px !important;
  display: inline-block;
  background: #750075 !important;
  font-size: 16px !important;
  font-weight: 400;
  font-family: "Graphik" !important;
  text-align: center;
}
.owl-theme .owl-dots .owl-dot span {
  width: 20px !important;
  height: 20px !important;
  margin: 10px !important;
}
