<div class="d-inline-block mt-3 container">
  Click on below links to see the demo to see the features implemented on this
  application:
</div>
<div class="d-flex flex-wrap breadcrumb-container">
  <ol
    class="breadcrumb"
    style="--bs-breadcrumb-divider: '  |  '"
    aria-label="breadcrumb"
  >
    <!-- <li *ngFor="let breadcrumb of breadcrumbs">
      <span [routerLink]="breadcrumb.url" routerLinkActive="router-link-active">
        {{ breadcrumb.label }}
      </span>
    </li> -->
    <ul
      class="breadcrumb d-flex flex-row flex-wrap justify-content-start align-items-center px-3 pt-3"
    >
      <li
        class="breadcrumb-item d-flex flex-row flex-wrap justify-content-start align-items-center"
      >
        <a
          class="nav-link"
          routerLink="/home"
          routerLinkActive="active"
          fragment="carousel"
          ngbTooltip="Click to scroll to Carousel section"
          placement="auto"
          >Carousel
        </a>
      </li>
      <li
        class="breadcrumb-item d-flex flex-row flex-wrap justify-content-start align-items-center"
      >
        <a class="nav-link" routerLink="/translate" routerLinkActive="active"
          >Translation</a
        >
      </li>
      <li
        class="breadcrumb-item d-flex flex-row flex-wrap justify-content-start align-items-center"
      >
        Toggle Theme
      </li>
      <li
        class="breadcrumb-item d-flex flex-row flex-wrap justify-content-start align-items-center"
      >
        ChatBot Demo
      </li>
    </ul>
  </ol>
</div>
